body {
  background-color: #E5E5E5;
}

.top-line-navigation-background {
  background-color: #EFEFEF;
}

.second-line-navigation-background {
  background-color: #fff;
}

.bottom-line {
  border-bottom: 1px solid #EFEFEF;
}

.top-line {
  border-top: 1px solid #EFEFEF;
}