
.button {
  font-size: 14px;
  line-height: 16px;
}

.button-link {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  cursor: pointer;
}

.border-button {
  background-color: #fff;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  color: #000;
}

.inverse-border-button {
  background-color: #F13C6E;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
}

.long-button {
  width: 170px;
  padding: 10px 0;
}

.fill-button {
  background-color: #F13C6E;
  border: 2px solid #F13C6E;
  border-radius: 30px;
  color: #fff;
  width: 130px;
  padding: 7.5px 0;
}

.mail-button {
  border: none;
  background: none;
}

.inverse-block .inverse-border-button {
  height: 35px;
  padding: 7.5px 0;
}