.categories {
  display: flex;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 52px;
}

.category-block {
  width: 255px;
}

.categories h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 22px;
  width: 100px;
}

.categories ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  padding-left: 0;
}

.categories li {
  font-size: 12px;
  line-height: 28px;
  list-style: none;
}

.categories a {
  color: #828282;
}

.communications {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px;
}

.communication-links {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.communication-link {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border: 2px solid #F13C6E;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#youtube {
  width: 23px;
  height: 16px;
}

#vkontakte {
  width: 29px;
  height: 16px;
}

#facebook {
  width: 12px;
  height: 20px;
}

#instagram {
  width: 22px;
  height: 22px;
}

.copyright {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
}

.copyright a {
  color: #828282;
}